:root {
  --primary: #eb4283;
  --primary-darker: #be366a;
  --background-color: #f4f5f7;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
}

h2 {
  padding-top: 0;
  margin-top: 0;
}

input[type=text],
input[type=number] {
  font-size: 1.2rem;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border-radius: 0.2rem;
  background-color: white;
  border: 1px solid gray;
  width: 300px;
  border-radius: 0.5rem;
}

/***
  Hide arrows in number input

  Chrome, Safari, Edge, Opera 
  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select,
textarea {
  font-size: 1.2rem;
  padding: 0.75rem 2.5rem 0.75rem 0.5rem;
  border-radius: 0.2rem;
  background-color: white;
  border: 1px solid gray;
  width: 350px;
  display: block;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

textarea {
  width: 400px;
}

.container {
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;
  margin-top: 1rem;
  max-width: 800px;
}

.form-row {
  margin-bottom: 1rem;
}

button {
  background-color: var(--primary);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px gray;
  font-size: 1rem;
}

button:hover {
  background-color: var(--primary-darker);
}

button:active {
  background-color: var(--primary-darker);
  box-shadow: 0;
  transform: translateY(3px);
}

.amount-debit {
  background-color: #5d8d5d;
}

.amount-credit {
  background-color: #ec4242;
}